<div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
    <img class="card-img-top rounded-0" 
     src="{{ if .Params.logo }}{{ .Site.BaseURL }}/{{ .Params.logo }}{{ else }}{{ .Site.BaseURL }}/images/logo-ofilibre.png{{ end }}"alt="{{ .Title }}">
    <div class="card-body">
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p class="card-text">{{ .Content | truncate 90 }}</p>
      <!-- post meta -->
      <ul class="list-inline mb-3">
        <!-- post date -->
        <li class="list-inline-item mr-3 ml-0"><i class="fas fa-calendar-alt"></i> {{ .PublishDate.Format "02 Jan, 2006" }}</li>
      </ul>
    </div>
</div>