<div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">
  <img class="card-img-top rounded-0" src="{{.Site.BaseURL}}/images/guias/{{ .Params.logo }}">  
  <div class="card-body">
    <!-- Title with max 4 lines and ellipsis -->
    <h4 class="card-title" style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; height: 120px;">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <!-- post meta -->
    <ul class="list-inline mt-auto mb-0">
      <!-- post date -->
      <li class="list-inline-item mr-3 ml-0"><i class="fas fa-calendar-alt"></i> {{ .PublishDate.Format "02 Jan, 2006" }}</li>
    </ul>
  </div>
</div>