<article class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
  <img class="card-img-top rounded-0" src="{{ .Params.thumb | relURL }}" alt="{{ .Title }}" 
  style="width: 223px; height: 223px; object-fit: cover;">
  <div class="card-body" style="width: 223px; height: 349px;">
              <!-- post meta -->
    <ul class="list-inline mb-3">
                <!-- post date -->
      <li class="list-inline-item mr-3 ml-0"><i class="fas fa-calendar-alt"></i>
        {{ .PublishDate.Format "02 Jan, 2006" }}</li>
      <!-- author 
      <li class="list-inline-item mr-3 ml-0"><i class="fas fa-user"></i> <a
          href="{{ `author/` | relLangURL }}{{ .Params.Author | urlize }}">{{ .Params.Author | title }}</a>
      </li>-->
    </ul>
    <h4 class="card-title" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; height: 90px">
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h4>
    <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; min-height: 60px;">
      {{ .Params.description | truncate 150 }}
    </p>
    <a href="{{ .Permalink }}" class="btn btn-primary btn-sm" style="width: 125px;">{{ i18n "read_more" }}</a>
  </div>
</article>