<div class="card rounded-0 hover-shadow border-top-0 border-left-0 border-right-0">  
  <img class="card-img-top rounded-0" src="{{.Site.BaseURL}}/transpas/{{.File.TranslationBaseName | lower }}/{{ .Params.teaser }}" alt="{{ .Title }}">
    <div class="card-body" style="height: 225px; width: 350px;">
      <h4 class="card-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h4>
      <p class="card-text">{{ .Content | truncate 100 }}</p>
    </div>
  </div>
