<section class="page-title-section overlay" style="background-image: url('{{ .Params.bg_image | relURL }}'), url('{{ `images/backgrounds/page-title.jpg` | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> <!-- Cambiado de col-md-8 a col-md-12 -->
        <ul class="list-inline custom-breadcrumb">
          {{ if .IsNode }}
            <!-- Estamos en una sección (baseURL/seccion) -->
            <li class="list-inline-item h2">
              <a class="text-primary font-secondary" href="{{ site.BaseURL | absLangURL }}">{{ site.Params.home }}</a>
            </li>
            <li class="list-inline-item h5"><i class="ti-angle-right text-white"></i></li>
            
            <!-- Personalización del texto según la sección -->
            {{ if eq .Section "catalogo" }}
              <li class="list-inline-item text-white h3 font-secondary">Catálogo de materiales docentes de acceso abierto</li>
            {{ else if eq .Section "fichas" }}
              <li class="list-inline-item text-white h3 font-secondary">Fichas de programas y recursos libres</li>
            {{ else if eq .Section "guias" }}
              <li class="list-inline-item text-white h3 font-secondary">Guías de la OfiLibre</li>
            {{ else if eq .Section "pres" }}
              <li class="list-inline-item text-white h3 font-secondary">Presentaciones de la OfiLibre</li>
            {{ else if eq .Section "contact" }}
              <li class="list-inline-item text-white h3 font-secondary">Contacta con nosotros</li>
            {{ else if eq .Section "ofilibre" }}
              <li class="list-inline-item text-white h3 font-secondary">Presentación de la OfiLibre</li>
            {{ else if eq .Section "consejo" }}
              <li class="list-inline-item text-white h3 font-secondary">Reuniones del Consejo</li>
            {{ else }}
              <!-- Texto por defecto si no coincide con ninguna sección -->
              <li class="list-inline-item text-white h3 font-secondary">{{ .Section | humanize }}</li>
            {{ end }}
          {{ else }}
            <!-- Estamos en un elemento concreto (baseURL/seccion/elemento) -->
            <li class="list-inline-item h2">
              <a class="text-primary font-secondary" href="{{ site.BaseURL | absLangURL }}/{{ .Section }}">

                {{ if eq .Section "guias" }}
                  Guías
                {{ else if eq .Section "pres" }}
                  Presentaciones
                {{ else if eq .Section "consejo" }}
                  Consejo
                {{ else }}
                  {{ .Section | humanize }}
                {{ end }}

              </a>
            </li>
            <li class="list-inline-item h5"><i class="ti-angle-right text-white"></i></li>
            
            {{ if eq .Section "consejo" }}
              <li class="list-inline-item text-white h3 font-secondary">{{ .Title }} ({{ .Date.Format "02 Jan, 2006" }})</li>
            {{ else }}
              <li class="list-inline-item text-white h3 font-secondary">{{ .Title }}</li>
            {{ end }}

          {{ end }}
        </ul>
        <p class="text-lighten">{{ .Params.Description | markdownify }}</p>
      </div>
    </div>
  </div>
</section>